body{
  background-color: #000814;
}
.container{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
}
.message{
  text-transform: uppercase;
  position: absolute;
  top:10%;
  padding: 10px 20px;
  border-radius: 8px;
  color: #fff;
  background: #e09f3e;
  font-size: 20px;
}

.title{
  letter-spacing: 0.2rem;
  font-size: 36px;
  font-weight: 600;
}

.cube-row{
  display: flex;
  flex-direction: row;
  gap:4px;
}

.cube{
  display: flex;
  flex-direction: column;
  gap:4px;
}
.letter{
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:white;
  font-size: 32px;
  font-weight: 700;
  width: 60px;
  height: 60px;
  border-radius: 3px;
  border: 1px solid #8d99ae;
}

.reset-board{
  padding: 4px 5px 4px 8px;
  background: none;
  color: #47d13a;
  font-size: 38px;
}

.top{
  display: flex;
  flex-direction: row;
  padding:10px 20px;
  color:#edf6f9;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-bottom: 1px solid rgb(246, 231, 231);
}

.cube-row.error {
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.correct{
  background: #6aaa64;
  color: #fff;

}

.present{
  background: #c9b458;
  color: #fff;
}

.absent{
  background: #787c7e;
  color: #fff;
}